.jumbotron {
    background: url('https://static1.squarespace.com/static/56971031dc5cb48ef9ba17ee/t/58b6728ff7e0abb43a598a21/1488351889582/');
    margin-bottom: 0;
}

.barra {
    padding-top: 10px;
    padding-bottom: 10px;
}

.color {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    float: left;
    margin: 5px;
    border-radius: 15px;
}

.desaparece {
    display: none;

}