.jumbotron {
    background-color: #3bb7d4;
    margin-bottom: 0;
}

.barra {
    padding-top: 10px;
    padding-bottom: 10px;
}

.color {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    float: left;
    margin: 5px;
    border-radius: 15px;
}